version: '3.8'

services:
  training:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./config/config.yaml:/app/config/config.yaml
    ports:
      - "8080:8080"
    networks:
      - trainings-pg-db
    depends_on:
      postgres:
        condition: service_healthy  

  postgres:
    image: postgres:15-alpine
    container_name: trainings_db
    environment:
      POSTGRES_DB: myapp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./bd.sql:/docker-entrypoint-initdb.d/bd.sql
    networks:
      - trainings-pg-db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  trainings-pg-db:
    driver: bridge